<%= form_for @form.course, html: { class: 'ui form' } do |f| %>
  <%= render 'shared/error_messages', resource: @form.course if @form.errors.any? %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= button_tag 'Save', type: 'submit', class: 'ui submit button' %>
  <%= link_to 'Back to Courses', courses_path, class: 'ui secondary button' %>
<% end %>
