<!DOCTYPE html>
<html>
  <head>
    <title>Enrollments Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div class="ui container">
      <header class="ui stackable container menu">
        <div class="header item">
          <h1><%= link_to 'Enrollments Platform', root_path %></h1>
        </div>

        <%= link_to 'Enrollments', root_path, class: 'item' %>
        <%= link_to 'Courses', courses_path, class: 'item' %>
        <%= link_to 'Teachers', teachers_path, class: 'item' %>

        <div class="right menu">
          <%= render 'shared/user_actions' %>
        </div>
      </header>

      <main class="ui segment">
        <% if notice.present? %>
        <p class="ui positive message"><%= notice %></p>
        <% end %>

        <% if alert.present? %>
        <p class="ui negative message"><%= alert %></p>
        <% end %>

        <%= yield %>
      </main>
    </div>
  </body>
</html>
