<!DOCTYPE html>
<html>
  <head>
    <title>Enrollments Platform</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <h1>Enrollments Platform</h1>

      <nav>
        <ul>
          <li><%= link_to_unless_current 'Enrollments', root_path %></li>
          <li><%= link_to_unless_current 'Courses', courses_path %></li>
          <li><%= link_to_unless_current 'Teachers', teachers_path %></li>
        </ul>
      </nav>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
